.formWidth {
    width: 350px;
}

.formWidth:focus {
    border-color: #ea1d63;
    box-shadow: none;
}

.navbarShadow {
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.09);
    padding: 13px 0;
}

.searchIconContainer {
    width: auto;
    background-color: #ea1d63;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left: -10px;
    cursor: pointer;
    padding: 0 24px;
}
